---
layout: page
title: "作品展"
description: "转载自其他优秀制作者的优质作品"
header-img: "img/post-bg-desk.jpg"
---
<small> 
    <font color="a0a9a9">
    <b>说明：</b>
    <li>转载自其他优秀制作者的优质作品，如展示有所不妥将进行删除。</li>
    </font>
<small>
<hr>

<blockquote><p>转载：百度贴吧</br>作者：<strong>IEFE</strong></br>作品名：四水合氯化锰晶体</p></blockquote>
![]({{site.baseurl}}/postimg/f2b1aa0e1b8e054b302483c7b73e9a61.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>反质子°</strong></br>作品名：天气瓶</p></blockquote>
![]({{site.baseurl}}/postimg/56c761ce81b0afe55c2dae32615177fe.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>叶酸酸</strong></br>作品名：乙酸铜晶体</p></blockquote>
![]({{site.baseurl}}/postimg/015983846580bd9f8665ef8c2fa0e05b.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>小猴的实验室</strong></br>作品名：三草酸合铝酸镁钠</p></blockquote>
![]({{site.baseurl}}/postimg/1fe638b162faf22016ef2ac429b7cdba.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>小猴的实验室</strong></br>作品名：铬染明矾晶体</p></blockquote>
![]({{site.baseurl}}/postimg/c43f1083813ed2b7bb135c723ec02817.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>氧烷君</strong></br>作品名：明矾</p></blockquote>
![]({{site.baseurl}}/postimg/0ae3233bfbe839fdb7c72b1f3c4cb812.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>滪旸</strong></br>作品名：三氯化六尿素合铁</p></blockquote>
![]({{site.baseurl}}/postimg/864228f933279343a7524e1fd1e04601.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>滪旸</strong></br>作品名：新秋露洗</p></blockquote>
![]({{site.baseurl}}/postimg/847c048c25c66668de9875887700c688.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>滪旸</strong></br>作品名：鉴湖叠翠</p></blockquote>
![]({{site.baseurl}}/postimg/af22c7c7369e536fe4537ca8ae516118.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>贴吧用户_0QGPZP8</strong></br>作品名：CH3NH3PbBr3</p></blockquote>
![]({{site.baseurl}}/postimg/0ace61a38acc690f1ed6552a8459e4c0.jpg)

<blockquote><p>转载：百度贴吧</br>作者：<strong>贴吧用户_Q594Na2</strong></br>作品名：氯化钠晶体</p></blockquote>
![]({{site.baseurl}}/postimg/ac8ee935569c4ce1bb414fc075737c37.jpg)



<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

