---
layout: page
title: "购买"
description: "购买方式"
header-img: "img/post-bg-desk.jpg"
---

<!-- Language Selector -->
<!--
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>
 -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>十分荣幸作品能获得得您的喜爱。</br>
    商务合作请联系：<strong>atomroom@outlook.com</strong>
    </p></blockquote>

    <p>尊敬的用户，我是<strong>原子空间</strong>，在此，谨代表本团队致以诚挚的感谢，本团队将继续努力为您呈现出更加优质的作品。</p>
    <h2>购买方式：</h2>
    <p>进入“<strong>闲鱼</strong>”app，搜索用户“<strong>原子空间II</strong>”，即可查看到购买信息</p>
    <img src="{{site.baseurl}}/img/shop/1.jpg" width="300" style="padding: 3px;"/> 
    <img src="{{site.baseurl}}/img/shop/3.png" width="300" style="padding: 3px;"/> 
    <img src="{{site.baseurl}}/img/shop/2.jpg" width="300" style="padding: 3px;"/> 
</div>

<!-- English Version -->
<!-- 
<div class="en post-container">
    <blockquote><p>There is no end to learning</p></blockquote>

    <p>Hi, I am <strong>atomroom</strong></p>

    <p>Love life, love science</p>

    <p>This is my personal blog <a href="https://atomroom.github.io">atomroom</a>.</p>

</div>
 -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

